
.sectie {
  height: 100vh;
 scroll-snap-align: start;
}


.playermenu{
  position:fixed;
  display: none;
  bottom: clamp(1rem,1.3vw, 2rem);
  width: 100vw;
  gap: clamp(1rem,1.3vw, 2rem);
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  mix-blend-mode: color-dodge;
  padding: 3rem;
  
  & span {
    cursor: pointer;
    font-size: clamp(1rem,1.3vw, 2rem);
  }

  & #info_nummer {
    position: absolute;
    left: clamp(1rem,1.3vw, 2rem);;
  }

    & span:hover{
      color:#00c0ff;
    mix-blend-mode: hard-light;
  }
}
.playermenu:hover {
  background-color: #ffffff4f;
}

#landvideo {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  z-index: -2;
}

.achtergrondFoto{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -2;
  & img{
  object-fit: cover;
  }
}

.mediavideo {
  position: absolute;
  z-index: -1;
  mix-blend-mode: soft-light;
  height: 100vh;

  & video {
border-radius: 1px;
    height: 100%;
    width: 100%;
  object-fit: cover;
  }

  & img {
  object-fit: cover;
  }
  

}

.randommedia {
  position: absolute;
    object-fit: cover;
  mix-blend-mode: soft-light;

  & img {
    object-fit: cover;
  }
  & video {
    object-fit: cover;
  }
}

.media{
  position: absolute;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}

.startalbum {
  width: 100vw;
 cursor: pointer;
  height: 100vw;
}


.songtekst {
  position: relative;
font-size: clamp(1rem, 1.5vw, 3rem);

font-style: italic;
}

.infotekst {
  text-wrap:wrap ;
  max-width: 50vw;
  font-size: clamp(1rem, 1.5vw, 3rem);
}

.glitchtekst {
max-width: 50vw;
  font-size: clamp(1rem, 1.5vw, 3rem);
  text-decoration: underline solid white 2px;


}

.glitchtekst:hover {
  background-color: white;
}

.tekstsectie {
position: relative;
mix-blend-mode:overlay;
color: white;
display: flex;
flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

#sec2 {
  .songtekst {
    left: 30vw;
  }
}

#sec7 {
  .songtekst {
    max-width: 30vw;
font-size: clamp(0.7rem, 1.6vw, 2rem);
  }
} 
