
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6rem);
  min-height: 500px;
  padding: 3rem;
}
h1{
  text-align: center;
}

.welkom {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.beschrijving {
  text-align: center;
  font-size: 2rem;
}

.beschrijvingg {
  text-align: center;
  font-size: 2rem;
}

.titel {
  flex-direction: row;
}

a{
  color:darkred;
}

hr {
  mix-blend-mode: normal;
  border-top: 5px solid darkblue;
  visibility: visible;
  width: 90% ;
  margin: 2rem auto;
}

.fotomenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

  font-size: clamp(1rem, 2vw, 2rem);
}

.fotomenuu {
  font-family: titelFont;
  color: darkblue;
  text-decoration: darkred  ;
}

.fotomenuu:hover {
  color: darkred;
  cursor: pointer;
}
.menucontent {
  display: block;
}

.menufotoCont {
  float: left;                 
  width: 55%;
  max-width: 900px;
  margin: 0 1rem 1rem 0 ;   
}

.menufoto {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.menufoto img {
flex: 1;
}

.menutekst {
  display: block;
  font-size: clamp(1rem, 3vw, 2rem);
  padding: min(3rem, 2vw);
}
